# Python Competition

In [ ]:
""" 
Create a;
1- 2 String variable
2- 2 Float variable
3- 2 Integer variable
4- print the type of the variables
"""

In [ ]:
"""
Use print function to print:

1. A string
2. A number
3. 4 mathematical operations using both float and integer (+, -, *, /)
4. Write a comment in your code
5. print the results in this format:
The result of the operation is **result**.
"""

In [ ]:
""" 
create a string variable and use the following string methods:

1. upper
2. lower
3. slicing first 3 characters

"""

In [ ]:
"""
Use 2 variable you created and use some conditional statements to create boolean results:

1 Use == operator
2 Use != operator
3 Use > operator
4 Use < operator
5 Use >= operator
6 Use <= operator
7 Use and operator
8 Use or operator
"""

In [ ]:
""" 
Create a list with names
Create a tuples with ages
Pair the names with the ages to a new dictionary
Print the first and the last name
Change the first name
Append a name to the list
Insert a name to the start of the list
Remove a name from the list
"""

In [ ]:
"""
Install a new package using Package Installer for Python
Import the packages
Create array with 5 numbers
Print the numbers starting from 10 to 30 and going up by 5
Change first and last number of your array and print the modified array

Create arange with 5 numbers and make these operations;
Substraction
Square
Addition
Multiplication
Division
Conditional

With the same array, use the following functions;
Sum
Smallest number
Largest number
Cumulative sum
"""

In [ ]:
"""
Create a 2D array with 3 rows and 3 columns (dataframe); *** need to define column names ***
age
name
height

After creating the dataframe, use the following functions;
Check the first 2 rows
Check the last 2 rows
"""